:root {
  /* Theme Color Variables */
  --primary: #1976d2;
  --accent: #4d6aff;
  --text-primary: #414F75;
  --background-light: #e8f1fe;
  --background-lighter: #f0f6ff;
  --tag-background: #fceef2;
}

